@model IEnumerable<NADD.Models.Curso>

@{
    ViewData["Title"] = "Cursos";
}

<h2>Cursos</h2>

<p>
    <a asp-action="Create" class="btn btn-info">Novo Curso</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCurso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCurso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area.NomeArea)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CursoId" class="btn btn-success btn-sm">Atualizar</a> |
                <a asp-action="Details" asp-route-id="@item.CursoId" class="btn btn-info btn-sm">Informações</a> |
                <a asp-action="Delete" asp-route-id="@item.CursoId" class="btn btn-danger btn-sm">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
