@model IEnumerable<NADD.Models.Avaliacao>

@{
    ViewData["Title"] = "Avaliação";
}

<h2>Avaliações</h2>

<p>
    <a asp-action="Create" class="btn btn-info  ">Registrar Nova Avaliação</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeAvaliador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disciplinas)
            </th>           
            <th>
                @Html.DisplayNameFor(model => model.PeriodoAno)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeAvaliador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disciplinas.NomeDisciplina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PeriodoAno)
            </td>
            <td class="avaliacao-index__buttons-2">
                <a asp-action="AvaliacaoPDF" asp-route-id="@item.AvaliacaoId" class="btn btn-danger btn-sm">PDF</a>
            </td>
            <td class="avaliacao-index__buttons-2">
                <a href="/Questoes/Verifica/@item.AvaliacaoId" class="btn btn-default btn-sm">Questoes</a>
            </td>
            <td class="avaliacao-index__buttons-2">
                <a asp-action="Edit" asp-route-id="@item.AvaliacaoId" class="btn btn-success btn-sm">Atualizar</a>
            </td>
            <td class="avaliacao-index__buttons">
                <a asp-action="Details" asp-route-id="@item.AvaliacaoId" class="btn btn-info btn-sm">Informações</a>
            </td>
            <td class="avaliacao-index__buttons">
                <a asp-action="Delete" asp-route-id="@item.AvaliacaoId" class="btn btn-danger btn-sm">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
